:root,
[data-theme='light'] {
    --prism-background: #fffffc;
    --prism-foreground: #000;

    // C#
    --prism-comment: #008016;
    --prism-string: #e11500;
    --prism-function: #785318;
    --prism-class-name: #0491c1;
    --prism-keyword: #3200ff;
    --prism-preprocessor-property: #80807f;

    // Css
    --prism-atrule: var(--prism-keyword);
    --prism-css-foreground: #3200ff;
    --prism-css-selector: #b80000;
    --prism-css-property: var(--prism-css-selector);

    // Markup (HTML, XML)
    --prism-doctype: var(--prism-class-name);
    --prism-markup-tag: var(--prism-css-selector);
    --prism-attr-name: #ff0000;
    --prism-markup-punctuation: var(--prism-keyword);
    --prism-markup-attr-value: var(--prism-keyword);
}

[data-theme='dark'] {
    --prism-background: #1e1e1e;
    --prism-foreground: #dcdcda;

    // C#
    --prism-comment: #23a658;
    --prism-string: #ea9d78;
    --prism-function: #a0d7a7;
    --prism-class-name: #13c9c6;
    --prism-keyword: #439ce2;
    --prism-preprocessor-property: #9b9b99;

    // Css
    --prism-atrule: var(--prism-keyword);
    --prism-css-foreground: #c8c8c6;
    --prism-css-selector: #d8ba76;
    --prism-css-property: #67dcff;

    // Markup (HTML, XML)
    --prism-doctype: var(--prism-class-name);
    --prism-markup-tag: var(--prism-keyword);
    --prism-attr-name: #87dcff;
    --prism-markup-punctuation: #80807f;
    --prism-markup-attr-value: var(--prism-css-foreground);
}

code[class*='language-'] {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    background: var(--prism-background);
    color: var(--prism-foreground);
}

.token {
    &.punctuation {
        color: var(--prism-foreground);
    }

    &.comment {
        color: var(--prism-comment);
    }

    &.string {
        color: var(--prism-string);
    }

    &.function {
        color: var(--prism-function);
    }

    &.class-name {
        color: var(--prism-class-name);
    }

    &.doctype,
    &.prolog {
        color: var(--prism-doctype);
    }

    &.keyword {
        color: var(--prism-keyword);
    }

    &.preprocessor.property {
        color: var(--prism-preprocessor-property);

        .keyword {
            color: var(--prism-preprocessor-property);
        }
    }

    &.selector {
        color: var(--prism-css-selector);
    }

    &.atrule {
        color: var(--prism-atrule);
    }

    &.tag {
        color: var(--prism-markup-tag);
    }

    &.attr-name {
        color: var(--prism-attr-name);
    }

    &.attr-value {
        color: var(--prism-markup-attr-value);
    }
}

// CSS
code[class*='language-css'] {
    color: var(--prism-css-foreground);

    .token {
        &.property {
            color: var(--prism-css-property);
        }

        &.string {
            color: var(--prism-css-foreground);
        }
    }
}

// Markup
code[class*='language-markup'] {
    .token {
        &.punctuation {
            color: var(--prism-markup-punctuation);
        }
    }
}
